.importantField:after {
	content: " *";
	color: red;
}

.optionalField:after {
	content: " ( Optional )";
}
.left-bar{display: block; width: 50px; float: left;}
.left-bar img{width: 100%; display: block;}
.right-bar{display: block; width: 100px; float: right;}
.right-bar img{width: 100%; display: block;margin-top: -20px;}
.jdl1{display: block; width: 100%; font-weight: bold; font-size: 20px; text-align: center; font-family: arial; float:left; text-transform: uppercase; margin: 10px;}
#qrCodeMap {width: 100%; height: 650px;}