.login-clean {
  background: transparent;
  padding: 80px 0;
  width: 500px;
}

.login-clean form {
  max-width: 360px;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 50px;
  border-radius: 20px;
  color: black;
  background-color: white;
}
.login-clean form .form-group .btn
.p-0{
  padding : 0 !important;
}

.login-clean .illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 60px;
  color: white;
}

.login-clean form .form-control {
  box-shadow: none;
  outline: none;
  /* color: black; */
  /* text-indent: 8px;
  height: 42px; */
  background-color: #F2F2F2;
  border-radius: 8px;
  font-size: 0.8rem;
  padding: 10px;
  border: none;
}

.login-clean form .form-control:focus {
  background-color: #F2F2F2;
  padding: 10px;
}
/* 
.login-clean form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important;
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background: #eb3b60;
}

.login-clean form .btn-primary:active {
  transform: translateY(1px);
} */

.login-clean form .forgot {
  display: block;
  text-align: right;
  font-size: 12px;
  color: white !important;
  opacity: 0.9;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-clean form .form-group .btn{
  border-radius: 8px;
  background-color: #0A6E0A;
  border-color: #0A6E0A;
}
.login-clean form .form-group .btn:hover{
  background-color: #0A6E0A;
  border-color: #0A6E0A;
}

.bg-login-left{
  background-image: url(../img/login.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-login{
  background-image: url(../img/background.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

input.form-transparent {
  background: transparent;
  border-bottom: 1px solid gray;
  padding-left: 0;
}

input.form-transparent:focus {
  background: transparent;
  border-bottom: 1px solid white;
  padding-left: 0;
}

.ts-label{
  font-size: 14px;
}

.button-login {
  background-color: #ffff;
}

.reveal-password{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%,50%);
  margin-right: 15px;
}

.login-footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: white;
  padding: 20px 0;
}

.remember-me{
  font-weight: 400;
  text-decoration: underline;
}