.multi-select .arrow {
    margin: auto;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
    color: black;
}

.multi-select .options.show {
    display: block;
}

.multi-select .options {
    height: 200px;
    z-index: 10001;
    overflow-x: auto;
    background-color: #fff;
    position: absolute;
    margin: 0;
    border: border;
    border-radius: 4px;
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    /* width: inherit; */
    padding: 0;
    display: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.margin-right {
    margin: 0 5px 0 0
}

.margin-top-right {
    margin: 5px 5px 0 0
}

.options li {
    display: block;
    font-size: 16px;
}

.options li .option-list {
    cursor: default;
    margin-bottom: 2px;
    text-transform: capitalize;
    /*border-bottom: solid 2px #fff;*/
    padding: 2px 5px;
}

/* .text-warp {
    white-space: nowrap;
    overflow: hidden;
} */

.multi-select .bg-color-blue {
    background-color: cornflowerblue;
    color: #fff;
}

.multi-select .selected-options {
    vertical-align: middle;
    height: inherit;
    border: 1px solid #dee2e6!important;
    border-radius: 4px;
    display: inline-block;
    /*padding: 5px 0px 5px 10px;*/
    width: inherit;
    /*padding: 0 0 0 10px;*/
}

.multi-select .selected-options .selected-options-badges-list {
    font-weight: 400;
    margin: 0;
    text-align: left;
    display: inline-block;
    width: calc(100% - 20px);
    text-overflow: clip;
}

.multi-select .selected-options .selected-options-badges:after {
    content: '\D7';
    cursor: pointer;
    margin-left: 5px;
}

.multi-select {
    position: relative;
    background-color: transparent;
    border-radius: 4px;
    width: 100%;
    outline: none;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.multi-select .selected-options-badges {
    text-transform: capitalize;
    font-size: 14px;
    border-radius: 2px;
    padding: 0 5px;
    border: none;
    display: inline-block;
}